/*
Colors used:
Primary color (purple): #7E49F6;
Secondary color (Cyan?): #54E9D1;
Pink/red: #FD5475
Jaune: #FDD537
Light pink: #FD9EF2
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #2e2e2e
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%
}

a {
  color: #7E49F6;
  text-decoration: none;
}

a:visited {
  color: #b852f7;
}

a:hover,
a:focus {
  color: #54E9D1;
}

a:active {
  color: #b852f7;
}

.button {
  display: inline-block;
  background-color: #7E49F6;
  color: black;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #54E9D1;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active,
.button:focus {
  background-color: #54E9D1;
  color: #000000;
  border-bottom: 2px solid #7E49F6;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: #FDD537;
  color: #000000;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
}

.button.contact:hover {
  background-color: #000000;
  color: #FDD537;
}

.button.contact:active {
  background-color: #000000;
  color: #ffffff;
}

svg {
  max-width: 32px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 3px 3px 2px 0px rgba(5, 255, 239, 0.75);
  position: fixed;
  width: 100%
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7E49F6
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b852f7
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  background-color: #7E49F6;
  color: #54E9D1;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #54E9D1;
  transition: 0.2s opacity;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  background-color: #54E9D1;
  color: #7E49F6;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7E49F6;
  transition: 0.2s opacity;
}

#hero {
  background-color: #ffffff;
  color: #2e2e2e;
  padding: 0.67em;
}

main {
  padding-top: 154px;
}
